# Visual Studio Code
.vscode

# Log file
*.log

# macOS
*.DS_Store

# Windows
Thumbs.db

# SonarQube and utPLSQL
junit_test_results.xml
test_results.xml
coverage.xml
coverage.html
coverage.html_assets
.scannerwork
